/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* BEGIN REGULAR CODING */g

html { height: 100%; }

a {
	text-decoration: none;
	color: #43A4FF;
	background: #444;
	background: rgba(150,150,150,.3);
	padding: 3px 5px;
	border-radius: 3px;
}

a:hover {
	color: #FFB21A;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: 100%;
	background: #3b3d40;
	background-image: linear-gradient(top, #3b3d40 0%, #1A1A1C 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3b3d40), color-stop(1, #1A1A1C));
	background-image: -moz-linear-gradient(top,  #3b3d40 0%, #1A1A1C 100%);
	overflow:hidden;
	color: #fff;
}

body #content > a,
body #ctrl {
	transition: background .25s, box-shadow .25s, left .25s, bottom .25s, top .25s, opacity .15s;
	-moz-transition: background .25s, box-shadow .25s, left .25s, bottom .25s, top .25s, opacity .15s;
	-webkit-transition: background .25s, box-shadow .25s, left .25s, bottom .25s, top .25s, opacity .15s;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#backToMonk, #backToMonk:visited {
	color: #fff;
	position:fixed;
	display:block;
	left:0;
	top:0;
	background: #000;
	padding: 7px 25px;
	border-radius: 0 0 10px 0;
	text-decoration: none;
	font-weight: bold;
	border:1px solid #aaa;
	border-left:0;
	border-top:0;
	opacity: .6;
	z-index: 100;
}

#backToMonk:hover {
	opacity: 1;
}

body #content {
	position: fixed;
	z-index: 1;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	white-space:no-wrap;
}

body #content > a {
	height: 100%;
	width: 20%;
	opacity: .2;
	cursor:pointer;
	float:left;
	position:relative;
	padding:0;
}

body #content > a.active {
	opacity: 1;
	z-index:4;
}

body #content > a#col1 {
	background: #2E72FF;
	background-image: linear-gradient(top, #43A4FF 0%, #255CFF 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #43A4FF), color-stop(1, #255CFF));
	background-image: -moz-linear-gradient(top,  #43A4FF 0%, #255CFF 100%);
}
body #content > a#col1.active { box-shadow: 0 0 10px #43A4FF; }

body #content > a#col2 { 
	background: #2AFA33;
	background-image: linear-gradient(top, #2AF834 0%, #15A31B 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2AF834), color-stop(1, #15A31B));
	background-image: -moz-linear-gradient(top,  #2AF834 0%, #15A31B 100%);
}
body #content > a#col2.active { box-shadow: 0 0 10px #2AF834; }

body #content > a#col3 {
	background: #FFFF11;
	background-image: linear-gradient(top, #FFFF11 0%, #EFEC08 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFF11), color-stop(1, #EFEC08));
	background-image: -moz-linear-gradient(top,  #FFFF11 0%, #EFEC08 100%);
}
body #content > a#col3.active { box-shadow: 0 0 10px #FFFF11; }

body #content > a#col4 { 
	background: #FFB21A;
	background-image: linear-gradient(top, #FFA718 0%, #FF600D 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFA718), color-stop(1, #FF600D));
	background-image: -moz-linear-gradient(top,  #FFA718 0%, #FF600D 100%);
}
body #content > a#col4.active { box-shadow: 0 0 10px #FFA718; }

body #content > a#col5 {
	background: #FF434F;
	background-image: linear-gradient(top, #FF3C49 0%, #E8222A 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FF3C49), color-stop(1, #E8222A));
	background-image: -moz-linear-gradient(top,  #FF3C49 0%, #E8222A 100%);
}
body #content > a#col5.active { box-shadow: 0 0 10px #FF3C49; }

/* ctrl bar */

body #ctrl {
	position:fixed;
	bottom: -140px;
	left: 0;
	height: 150px;
	background: #000;
	z-index: 5;
	width: 100%;
}

body #ctrl.active {
	bottom: 0;
}

body #ctrl .topbar {
	height: 20px;
	width: 100%;
}

body #ctrl #score {
	width: 100%;
	font-size: 5em;
	color: #fff;
	text-align:center;
	font-weight: bold;
}

body #ctrl #score .title {
	font-size: .5em;
	position:relative;
	top:-.3em;
}

body #endScreen {
	display: none;
	background: rgba(0,0,0,.5);
	position:fixed;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	z-index: 10;
	color: #fff;
	font-size:2em;
	text-align:center;
}

body #endScreen.active {
	display:block;
}

body #endScreen h2 {
	font-weight: bold;
	margin-top: 2em;
	font-size: 2em;
	line-height: 1em;
}

body .button {
	font-weight:bold;
	background: #255CFF;
	border: 5px solid #43A4FF;
	display:block;
	width: 150px;
	padding: 75px 0;
	line-height:0;
	color: #fff;
	margin-left:auto;
	margin-right: auto;
	margin-top: 1em;
	text-decoration:none;
	border-radius: 10px;
	cursor: pointer;
	background-image: linear-gradient(top, #43A4FF 0%, #255CFF 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #43A4FF), color-stop(1, #255CFF));
	background-image: -moz-linear-gradient(top,  #43A4FF 0%, #255CFF 100%);
	border-radius: 100px;
	box-shadow: 0 0 5px #000;
	text-shadow: -1px -1px 0 rgba(0,0,0,.5);
	font-size: 1.5em;
}

body .button:HOVER {
	background: #FFB21A;
	background-image: linear-gradient(top, #FFA718 0%, #FF600D 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFA718), color-stop(1, #FF600D));
	background-image: -moz-linear-gradient(top,  #FFA718 0%, #FF600D 100%);
	border-color: #FFA718 ;
	box-shadow: 0 0 10px #000;
	text-shadow: 0 0 3px #000;
}

body .button:active {
	background-image: linear-gradient(bottom, #FFA718 0%, #eF5000 100%);
	background-image: -webkit-gradient(linear, left bottom, left bottom, color-stop(0, #FFA718), color-stop(1, #eF5000));
	background-image: -moz-linear-gradient(bottom,  #FFA718 0%, #eF5000 100%);
	box-shadow: 0 0 2px #000;
}

h1 {
	font-size: 3em;
	font-weight: bold;
	line-height: 1em;
	margin-bottom: .2em;
	margin-top: .5em;
}

body #intro {
	font-size: 1.5em;
	background: rgba(0,0,0,.5);
	width: 100%;
	height: 100%;
	position:fixed;
	text-align:center;
	z-index: 5;
	display:none;
}

body #intro.active {
	display: block;
}

body #intro .controls {
	background-image: url("../img/controls.png");
	background-image: url("../img/controls.svg");
	background-size: 100%;
	width: 50%;
	height: 40%;
	min-height:55px;
	margin-left:auto;
	margin-right:auto;
	background-repeat:no-repeat;
	background-position: center top;
	opacity: .3;
	margin-top: .5em;
	margin-bottom: .5em;
}

p {
	margin: .75em 2em;
	line-height: 1.3em;
}

p.subnote {
	margin-top:-.5em;
	font-size: .75em;
	font-style: italic;
}

p.subnote a {

}

.bodyContent:before {
	content: ' ';
	position: absolute;
	top: -45px;
	z-index: 20;
	left: 67%;
	width: 60px;
	height: 45px;
	background: url("../img/speech.png");
	background-repeat: no-repeat;
}

.bodyContent {
	width: 50%;
	margin-left:auto;
	margin-right: auto;
	padding: 20px;
	border-radius: 50px;
	margin-top: 2em;
	background: rgba(150,150,150,.4);
	position:relative;
	z-index: 2;
}

.bodyContent .button {
	margin-top:0;
	text-align:center;
	margin-bottom:1em;
}

#reset.button {
	font-size: inherit;
}